
.DS_Store
.vscode/settings.json
pythonStuff/hello.py
pythonStuff/Python 3.7/Icon
pythonStuff/Python 3.7/Icon
pythonStuff/Python 3.7/Icon
pythonStuff/Python 3.7/Icon
pythonStuff/Python 3.7/IDLE.app/Contents/Info.plist
pythonStuff/Python 3.7/IDLE.app/Contents/MacOS/IDLE
pythonStuff/Python 3.7/IDLE.app/Contents/MacOS/Python
pythonStuff/Python 3.7/IDLE.app/Contents/PkgInfo
pythonStuff/Python 3.7/IDLE.app/Contents/Resources/IDLE.icns
pythonStuff/Python 3.7/IDLE.app/Contents/Resources/idlemain.py
pythonStuff/Python 3.7/IDLE.app/Contents/Resources/PythonCompiled.icns
pythonStuff/Python 3.7/IDLE.app/Contents/Resources/PythonSource.icns
*.command
pythonStuff/Python 3.7/License.rtf
pythonStuff/Python 3.7/Python Documentation.html
pythonStuff/Python 3.7/Icon
pythonStuff/Python 3.7/ReadMe.rtf
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/PythonSource.icns
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/PythonLauncher.icns
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/PythonCompiled.icns
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/factorySettings.plist
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/English.lproj/PreferenceWindow.nib/objects.nib
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/English.lproj/PreferenceWindow.nib/info.nib
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/English.lproj/PreferenceWindow.nib/classes.nib
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/English.lproj/MyDocument.nib/objects.nib
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/English.lproj/MyDocument.nib/info.nib
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/English.lproj/MyDocument.nib/classes.nib
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/English.lproj/MainMenu.nib/objects.nib
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/English.lproj/MainMenu.nib/info.nib
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/English.lproj/MainMenu.nib/classes.nib
pythonStuff/Python 3.7/Python Launcher.app/Contents/Resources/English.lproj/Credits.rtf
pythonStuff/Python 3.7/Python Launcher.app/Contents/MacOS/Python Launcher
pythonStuff/Python 3.7/Python Launcher.app/Contents/Info.plist
pythonStuff/Python 3.7/Icon
